@import './variables';

.userlist-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    padding: 1rem;
    width: 95%;
    h2{}
    .table-container{
        overflow-x: auto;
        width: 85%;
        table{
            color: black;
            width: 100%;
            border-collapse: collapse;
            th, td {
                padding: 1rem;
                text-align: center;
                border: 1px solid #ddd;
            }
            th {
            background-color: #f2f2f2;
            color: $secondary-color;
            }
              tbody tr:hover {
                background-color: #ddd;
            }
        }
    }
    .pag-buttons{
        width: 85%;
        display: flex;
        justify-content: space-between;
        button{
            background: $primary-color;
            color: #fff;
            border: none;
            border-radius: 9px;
            font-size: 1rem;
            padding: 10px;
            &:hover{
                background: #fff;
                color: $primary-color;
                border: 1px solid $primary-color;
            }
        }
    }
}