*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    line-height: 1.5;
    font-family: -apple-system, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,.87);
}
body {
    font-size: .9rem;
    color: #50596c;
}

@media only screen and (max-width: 480px){
    html{
        font-size: 12px;
    }
}

@media only screen and (min-width: 481px){
    html{
        font-size: 14px;
    }
}
@media only screen and (min-width: 600px){
    html{
        font-size: 15px;
    }
}
@media only screen and (min-width: 768px){
    html{
        font-size: 17px;
    }
}